In [3]:
import pandas as pd
import numpy as np
import swifter as swf

In [31]:
# Creating a big dataframe of 10 million rows and 4 columns

df = pd.DataFrame( np.random.randint(1,1000, size=(10000000,4)), 
                  columns =list('ABCD'))
df.shape

(10000000, 4)

In [32]:
df.head(2)

     A    B    C    D
0  111  960  909  319
1   47  827  144  809

In [33]:
# Create function: Column C - Column D
def subtract_cd(c,d):
    return c - d

In [34]:
%%time
# Regular apply
df['subt'] = df.apply(lambda x: subtract_cd(x['C'], x['D']), axis=1)

Wall time: 1min 23s

In [35]:
%%time
# Using Swifter
df['subt'] = df.swifter.apply(lambda x: subtract_cd(x['C'], x['D']), axis=1)

Wall time: 43 ms

In [25]:
df.head(2)

     A    B    C    D  subt
0  773  978  757  451   306
1  604  704  800   88   712

In [36]:
print(' The execution with Swifter was ',round((83 - 0.043)/15.6*100,1), '% faster.')

 The execution with Swifter was  531.8 % faster.